#Data types and structure

1. What are data structures, and why are they important?  
  - Data structre is a way of storing or organising the data so that it can be accessed and manipulated efficiently according to our need.  
        Data structures are important because they organize data efficiently, enabling faster access and modification.
They are essential for writing optimized, scalable, and effective algorithms and software.  
  
2.  Explain the difference between mutable and immutable data types with examples?  
  - Mutable: Mutable data structures are those Data sturcture which could be changed upon creation means we can add or remove elemnts even after creation of the Data structure. Examples are List,Dictionary.  
  - Immutable: Immutable Data structure are those structure which cannot be change after the creation of the Data structure means we can add or remove elements upon the creation of the Data structure. Examples are Tuples,String.  

3. What are the main differences between lists and tuples in Python?  
  - Main differnces between lists and tuples are as following  
    a.) Lists are mutable while tuples are immutable.  
    b.) Lists are declared by [],while tuples are declared by ().
    c.) Performance wise lists are slower than the tuples.  
      
4. Describe how dictionaries store data.  
  - Dictionaries stores data in the key value format where keys are immutable and unique.Whereas values could be changed according to users need.  

5. Why might you use a set instead of a list in Python?  
  - We can use a Set instead of list in such a case where we have to tackle or avoid the duplicate entries of the element as set stores unique items and the duplication of element is not permitted in sets.  

6. What is a string in Python, and how is it different from a list?  
  - A string is a sequence of charcater enclosed in quotes. It is a type of data structure used in python.   
      A string is immutable while list is mutable and in string only characters are stored while in list element can be of any data type.  

7. How do tuples ensure data integrity in Python?  
  - Tuples ensure data integrity by being immutable , which makes its data to remain unchanged even after the creation.  

8. What is a hash table, and how does it relate to dictionaries in Python?  
  - A hash table is a data structure in which stores data in a array like format where a hash function decides the index which value is stored.  
      Though Dictionary also store data in key value format the hash table perform a key role in the storing of key and values. In which keys must be hashable means immutable and have a stable has value.  

9. Can lists contain different data types in Python?         
  - Yes, lists can store different data types at once.  
    
10. Explain why strings are immutable in Python?  
  - Strings are immutable in python to ensure memory use,data integrity,prevent accidental change and enable hashing.  

11. What advantages do dictionaries offer over lists for certain tasks?  
  - Dictionaries offer faster lookups (O(1)), key-based access, and better organization for paired data, making them ideal for tasks involving labeled or mapped information over lists.  

12. Describe a scenario where using a tuple would be preferable over a list?  
  - For example based on scenario we can prefer tuple over list when we have to store the coordinates of some place because coordinates never changes and tuple is ideal for them as a data structure because tuples are immutable.  

13. How do sets handle duplicate values in Python?  
  - Sets remove duplicate values as it only stores unique elemnets.  

14. How does the “in” keyword work differently for lists and dictionaries?  
  - In list "in" keyword  used to check if value is present in the list or not while in dictionaries "in" keyword checks for the key instead of value.  

15. Can you modify the elements of a tuple? Explain why or why not.  
  - No, we can't modify the elemnt of a tuple because they are immutable, we can't change the element upon creation.  

16. What is a nested dictionary, and give an example of its use case?  
  -  Nested dictionaries allow you to organize complex, multi-level data in a readable and accessible way.  
        Nested dictionary is useful for organizing and accessing multi-dimensional or hierarchical data before converting it to a more structured format like a DataFrame.  
          
17.  Describe the time complexity of accessing elements in a dictionary?  
  - The time complexity of accessing elements in a dictionary in Python is on average.  
      Accessing a value using key is very fast due to underlying hash table implementation.  

18.  In what situations are lists preferred over dictionaries?  
  - Lists are preferred when data is ordered, indexed, or doesn't need key-value pairing.
They are more memory-efficient and ideal for simple, sequential collections.   

19. Why are dictionaries considered unordered, and how does that affect data retrieval?  
  - Dictionaries are considered unordered as they don't follow indexing or doesn't preserve the insertion order of keys.  

20.  Explain the difference between a list and a dictionary in terms of data retrieval?  
  - List retrieves data using indexes so that user can access elements by order.  
  ex:- list[2]  
   Dictionary retrieves data using key allowing fast access because of key values pair.

In [ ]:
# 1. Write a code to create a string with your name and print it
name="Ashutosh Bharadwaj"
print(name)

Ashutosh Bharadwaj

In [ ]:
# 2. Write a code to find the length of the string "Hello World"
str1="Hello World"
print(len(str1))

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
str2="Python Programming"
str2[0:3]

'Pyt'

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase
str3="hello"
str3.upper()

'HELLO'

In [1]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
str4="I like apple"
str4.replace("apple", "orange")

'I like orange'

In [2]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
list1=[1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [4]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list2=[1,2,3,4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [5]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list3=[1,2,3,4,5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

In [6]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst=['a', 'b', 'c', 'd']
lst[1]

'b'

In [7]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
lst1=[10,20,30,40,50]
lst1[::-1]

[50, 40, 30, 20, 10]

In [8]:
# 11.  Write a code to create a tuple with the elements 100, 200, 300 and print it
tup=(100,200,300)
print(tup)

(100, 200, 300)

In [15]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tup1=('red', 'green', 'blue', 'yellow')
print("the second last value in the tuple is:",tup1[-2])

the second last value in the tuple is: blue

In [14]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tup2=(10, 20, 5, 15)
minimum=(min(tup2))
print("the minimum value in the tuple is:",minimum)

the minimum value in the tuple is: 5

In [13]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tup3=('dog', 'cat', 'rabbit')
print("the index of 'cat' in the tuple is:",tup3.index('cat'))

the index of 'cat' in the tuple is: 1

In [16]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruit=('apple','mango','kiwi','banana','chickoo')
'kiwi' in fruit

True

In [17]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it
set1={'a','b','c'}
print(set1)

{'a', 'b', 'c'}

In [20]:
# 17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set2={1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

In [22]:
# 18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}
set3={1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [24]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
st1={1,2,3}
st2={3,4,5}
print("union of set1 and set2 is = ",st1 | st2)

union of set1 and set2 is =  {1, 2, 3, 4, 5}

In [25]:
# 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
st3={1, 2,3}
st4={2,3,4}
print("Intersection of set1 and set2 is =", st3 & st4)

Intersection of set1 and set2 is = {2, 3}

In [27]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dic={"name":"Ashutosh",
"age":22,
"city":"banglore"}
print(dic)

{'name': 'Ashutosh', 'age': 22, 'city': 'banglore'}

In [29]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dic1={'name': 'John', 'age': 25}
dic1["country"]='USA'
print(dic1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [30]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dic2={'name': 'Alice', 'age': 30}
dic2['name']

'Alice'

In [33]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic3={'name': 'Bob', 'age': 22, 'city': 'New York'}
dic3.pop('age')
dic3

{'name': 'Bob', 'city': 'New York'}

In [35]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dic4={'name': 'Alice', 'city': 'Paris'}
print("is 'city' in the dic4?: ", 'city' in dic4)

is 'city' in the dic4?:  True

In [37]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all
list_=['L','I','S','T',1,2.4]
tuple_=('t','u','p','l','e',1,3)
dictionary={"city":"pune","park":29,"zoo":5}
print("list:",list_)
print("Tuple:",tuple_)
print("Dictionary:",dictionary)

list: ['L', 'I', 'S', 'T', 1, 2.4]
Tuple: ('t', 'u', 'p', 'l', 'e', 1, 3)
Dictionary: {'city': 'pune', 'park': 29, 'zoo': 5}

In [44]:
# 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

import random
random_number=[random.randint(1,100) for _ in range(5)]
random_number.sort()
print(random_number)

[7, 19, 34, 45, 59]

In [45]:
# 28. Write a code to create a list with strings and print the element at the third index
_list=["apple","list","check","stumps","test"]
print(_list[2])

check

In [48]:
# 29.  Write a code to combine two dictionaries into one and print the result
dict1={"key":"lock","tap":"water"}
dict2={"store":"grocery","mobile":"games"}
dict1.update(dict2)
print("Dictionary after combining two dictionary : ",dict1)

Dictionary after combining two dictionary :  {'key': 'lock', 'tap': 'water', 'store': 'grocery', 'mobile': 'games'}

In [50]:
# 30. Write a code to convert a list of strings into a set.
List=["air","sand","soil","mineral"]
new_set= set(List)
print(new_set)

{'air', 'soil', 'sand', 'mineral'}